article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}


@mixin pageButton(){
    padding-top : 16px;
    padding-bottom : 16px;
    border-radius : 45px;
    width : 165px;
}

*{
    
    margin : 0;
    padding : 0;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    box-sizing : border-box;
}

input,button,a{
    transition : all 0.3s;
}

.wrapper{
    max-width : 1095px;
    margin : 0 auto;
}

section{
    padding-left : 15px;
    padding-right : 15px;
}

footer{
    padding-left : 15px;
    padding-right : 15px;
}

header{
    padding-left : 15px;
    padding-right : 15px;
    a{
        text-decoration : none;
        color : black;
        font-size : 18px;
        font-weight : 300;
    }
    a:visited {
        color : black;
    }
    a:hover{
        text-shadow : 0px 0px 10px rgba(255, 255, 255, 0.205);
        color : white;
    }
}

.flex-row{
    display : flex;
}

.header-flex-container{
    justify-content : space-between;
}

.page-header{
    padding-top : 50px;
    padding-bottom : 50px;
    z-index : 2;
    background : transparent;
    position : relative;
    li{
        margin-left : 22px;
    }
    align-items : center;
}

.page-header-col1{
    font-size : 20px;
}

.page-header-col2{
    align-items : center;
}


.header-title-bg{
    background : linear-gradient(rgba(0, 0, 0, 0.144),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)), url("../../assets/hgradient.png") no-repeat fixed,url("../../assets/sitebackground.jpg") ;
    background-size : 100%,  100%, cover;
    -webkit-background-size: 100%, 100%, cover; 
    -moz-background-size: 100%, 100%, cover; 
    -o-background-size: 100%, 100%, cover; 
    width : 100%;
    position : relative;
}


.title-page{
    padding-top : 110px;
    padding-bottom : 290px;
    text-align : center;
    position : relative;
    z-index : 2;
    background : transparent;

    h1{
        padding-top : 30px;
        padding-bottom : 30px;
        font-size : 60px;
        font-weight : 300;
        margin : 0 auto;
        margin-bottom : 15px;
    }

    .name-span{
        font-weight : 600;
    }

    h4{
        
        padding-top : 16px;
        padding-bottom : 16px;
        padding-left : 20px;
        padding-right : 20px;
        margin : 0 auto;
        margin-top : 15px;
        display : inline-block;
        border-style : solid none solid none;
        border-width : 1px;
        font-size : 20px;
        font-weight : 300;
    }

    .title-button-row{
        margin : 0 auto;
        margin-top : 60px;
        
    }

    button{
        @include pageButton();
        margin : 12px;
        background-color : transparent;
        color : black;
        border-color : black;
    }

    button:hover{
        background-color : rgba(29, 29, 29, 0.185)
    }
}

.strike{
    text-decoration : line-through;
}

.love{
    text-decoration : underline;
    font-weight : 600;
    color : rgb(236, 134, 1);
}

.about-me-col1{
    width : calc(43% - 15px);
}

.about-me-col2{
    width : calc(57% - 15px);
    padding-bottom : 40px;
}

.about-me{
    color : white;
    background-color : black;
    background : linear-gradient(black,rgb(24, 24, 24));
    padding-top : 100px;
    padding-bottom : 60px;
    h2{
        font-size : 60px;
        font-weight : 400;
        letter-spacing: 3px;
    }
    h3{
        font-size : 28px;
        font-weight : 300;
        padding-top : 16px;
        padding-bottom : 16px;
    }
    p{
        line-height : 28px;
        padding-top : 15px;
        padding-bottom : 15px;
        font-size : 16px;
        font-weight : 300;
    }

    a{
        text-decoration : none;
        color : white;
    }
    a:visited {
        color : white;
    }

    button{
        @include pageButton();
        margin-top : 30px;
        color : white;
        background-color : transparent;
    }

    button:hover{
        background-color : rgba(255, 255, 255, 0.11);
    }

    img{
        width : 100%;
        display : block;
        margin : 0 auto;
        margin-top : 120px;
        min-width : 250px;
        max-width : 400px;
        
        box-shadow : 0px 0px 25px black;
    }
    
}

.about-me-flex-container{
    justify-content: space-between;
}

.about-me-info{
    p{
        margin-right : 26px;
        span{
            font-weight : 500;
        }
    }
}

.skills-row{
    justify-content : space-between;
}

.skills-services{
    position : relative;
    z-index : 1;
    padding-top : 55px;
    h3{
        text-align : center;
        font-size : 36px;
        font-weight : 400;
        padding : 40px;
    }
    h4{
        margin-bottom : 30px;
        font-weight : 600;
        font-size : 16px;
        text-transform : uppercase;
    }
    p{
        line-height: 24px;
    }
    padding-bottom : 80px;
    background :linear-gradient(rgb(233, 233, 233), white);
    background: white;
}

.skills-row-item{
    width : calc(1/9 * (100% - (2 * 50px)));
    text-align : center;
    padding-bottom : 10px;
    display : flex;
    flex-flow : column;
    margin-bottom : 14px;
}

.fa-js-square-container{
    font-size : 2.5rem;
}

.fa-html-container{
    font-size : 2.5rem;
}

.fa-container{
    font-size : 2.5rem;
    padding : 10px;
}

.portfolio{
    padding-top : 90px;
    padding-bottom : 80px;
    background-color : rgb(241, 241, 241);
    background : linear-gradient(rgb(230, 230, 230),white);
    h3{
        text-align : center;
        font-size : 36px;
        font-weight : 400;
        padding-bottom : 80px;
    }

    a, a:visited{
        color : rgb(236, 134, 1);
        text-decoration : none;
    }

}

.portfolio-info-row{
    justify-content : space-between;
    text-align : left;
    
    background-color :white;

    h3{
        margin : 0px;
        padding : 0px;
        text-align : left;
        padding-top: 4px;
        padding-bottom : 4px;
        color : rgb(236, 134, 1);
    }

    h5{
        font-style : italic;
    }

    margin-bottom : 60px;

    li{
        list-style-type: square;
        margin-left : 20px;
    }

    ul{
        padding-top : 16px;
    }

    p{
        padding-top : 16px;
        font-weight : 300;
    }

    box-shadow : 1px 3px 2px rgba(128, 128, 128, 0.644);

}

.portfolio-info-row-col1, .portfolio-info-row-col2{
    .image-link{
        width : 100%;
        height : auto;
    }

    img{
        width : 100%;
        height : auto;
        display : block;
        box-shadow : 0px 0px 1px rgb(145, 145, 145);
        border : 1px solid rgb(136, 136, 136);
    }

    p{
        width : 70%;
    }
    
}


.portfolio-info-row-col1{
    width : calc((100% - 30px) * 2/5);
}

.portfolio-info-row-col2{
    width : calc((100% - 30px) * 3/5);
    padding-top : 8px;
    padding-right : 8px;
    padding-bottom : 8px;
}

.hire-me{
    text-align : center;
    padding-top : 100px;
    padding-bottom : 100px;
    background-color : black;
    color : white;
    position : relative;
    z-index : 2 ;

    h3{
        font-size : 22px;
    }

    p{
        padding : 10px;
        font-weight : 300;
    }
}

.contact-col1{
    width : calc(3/5 * (100% - 25px));
}

.contact-col2{
    width: calc(2/5 * (100% - 25px));
}

.contact-flex-container{
    justify-content : space-between;
    padding-top : 70px;
}

.contact{
    padding-top : 100px;
    padding-bottom : 100px;
    background : linear-gradient(white,white,white,rgb(236, 236, 236));
    color : rgb(90, 90, 90);

    input{
        display : block;
        width : 100%;
        //height : 50px;
        border-style : none none solid none;
        border-width: 1px;
        margin-bottom : 20px;
        padding-left : 40px;
        padding-bottom : 10px;
        padding-top : 28px;
        position : relative;
        font-weight : 300;
    }

    .input-container{
        position : relative;
    }

    input:focus{
        outline : none;
        box-shadow : 0px 0px 10px lightgrey;
    }

    .contact-icon-container{
        position : absolute;
        left : 18px;
        top : 26px;
        z-index : 1;  
    }

    textarea{
        width : 100%;
        padding-left : 40px;
        padding-top : 28px;
        font-weight : 300;
    }

    textarea:focus{
        outline : none;
        box-shadow : 0px 0px 10px lightgrey;       
    }

    button{
        @include pageButton();
        display : block;
        margin : 0 auto;
        padding : 14px;
        background-color : transparent;
         margin-top : 26px;
         border-color : rgb(73, 73, 73);
    }

    .contact-section-header{
        text-align : center;
        font-size : 36px;
        font-weight : 400;
    }
    p{
        padding-top :25px;
        padding-bottom : 25px;
    }
}



.contact-me-header{
    text-align : center;
    font-size : 28px;
    font-weight : 400;
}

.contact-info{
    display : flex;
    align-items : center;
}

.social-media-links{
    margin : 0 auto;
    display : flex;
    margin-bottom : 20px;
}

.page-footer{
    padding-top : 100px;
    padding-bottom : 100px;
    background-color : rgb(80, 80, 80);
    color : white;
    a{
        text-decoration : none;
        color : rgb(255, 255, 255);
    }
    a:visited {
        color : rgb(255, 255, 255);
    }
    a:hover{
        text-shadow : 0px 0px 25px rgba(255, 255, 255, 0.205);
        color : rgb(235, 223, 213);
    }
    h4{
        text-align : center;
        font-weight : 300;
    }
}

.contact-info{
    margin-top : 28px;
    margin-bottom : 28px;
    h3{
        font-weight : 400;
    }
    h4{
        font-weight : 200;
    }
}

.contact-info-left{
    min-width : 50px;
    width : 50px;
    max-height : 50px;
    height : 50px;
    border-style : solid;
    border-width : 1px;
    position : relative;
    border-radius : 70px;
    margin-right : 30px;
}

.contact-info-icon{
    position : relative;
    top : 30%;
    text-align : center;
}

@media (max-width : 1120px){

    .about-me{
        padding-bottom : 100px;
        img{
            margin-bottom : 60px;
        }
    }
    .about-me-col1{
        width : 66%;
        margin : 0 auto;
    }

    .about-me-col2{
        width : 66%;
        margin: 0 auto;
        text-align : center;
        p{
            text-align : left;
        }

    }

    .about-me-flex-container{
        flex-wrap : wrap;
    }

    .about-me-info{
        justify-content : center;
    }
}

@media (max-width : 1090px){
    .skills-row{
        flex-wrap : wrap;
    }
    .skills-row-item{
        width : calc(1/5 * (100% - (2 * 25px)));
        text-align : center;
        padding-bottom : 10px;
        margin : 0 auto;
    }   
}

@media (max-width : 1050px){
    .portfolio-info-row-col2, .portfolio-info-row-col1{
        width : calc((100% - 30px) * 1/2);
    }  
}

@media (max-width : 930px){
    .portfolio-info-row-col2{
        padding-right : 12px;
        p{
            width : 100%;
        }
    }
}

@media (max-width : 880px){
    .about-me-info{
        flex-flow : column;
        p{
            padding-top : 7px;
            padding-bottom : 7px;
        }
    }

    .portfolio-info-row{
        flex-wrap : wrap;
        width : 70%;
        margin : 0 auto;
        margin-top : 40px;
    }

    .portfolio-info-row-col2, .portfolio-info-row-col1{
        width : calc((100%));
        margin : 0 auto;
    }

    .portfolio-info-row-col2{
        padding : 12px;
    }
}

@media (max-width : 800px){
    .about-me-col1, .about-me-col2{
        width : 75%;
    }

    .contact-flex-container{
        flex-wrap : wrap;
    }
    .contact-col1, .contact-col2{
        width : 85%;
        margin : 0 auto;
    }

    .contact-col2{
        margin-top : 70px;
    }

    .about-me{
        img{
            margin-top : 20px;
        }
    }
}

@media (max-width : 680px){
    .skills-row-item{
        width : calc(1/3 * (100% - (2 * 15px)));
        text-align : center;
        padding-bottom : 10px;
        margin : 0 auto;
    }

    .portfolio-row{
        flex-wrap : wrap;
    }

    .portfolio-item{
        width : calc((100% - 60px) /2);
        margin : 0 auto;
        margin-bottom : 30px;
    }

    .portfolio-item:first-of-type, .portfolio-item:last-of-type{
        margin : 0 auto;
        margin-bottom : 30px;
    }

    .title-page{
        h4{
            width : 75%;
        }
    }


}

@media (max-width : 600px){
    .about-me-col1, .about-me-col2{
        width : 85%;
    }

    .portfolio-info-row{
        width : 90%;
    }   

}

@media (max-width : 510px){
    .portfolio-item{
        width : 90%;
    }

    .title-page{
        padding-top : 30px;
    }
}

@media (max-width : 460px){

    .page-header{
        h1{
            display : none;
        }
    }

    .page-header-col2{
        width : 100%;
        ul{
            justify-content : center;
        }
    }
}

@mixin dynamicBackground(){
    background-size : 100%, cover;
    position:absolute;
    z-index : -1;
    top: 0;
    left : 0;
    width:100%;
    height:100%;
}

#dynamic-background{
    position : relative;
}

#dynamic-backgroundB{
    background-size : 100%, cover;
    position:absolute;
    z-index : 3;
    top: 0;
    left : 0;
    width:100%;
    height:100%;
}

#dynamic-backgroundC{
    @include dynamicBackground();
}

@mixin p5canvas{
    position:absolute;
    bottom: 0;
    left : 0;
   width:100%;
   height:100%;
}

#p5-bg{
    @include p5canvas();
}

#p5-bg2{
    @include p5canvas();
}


#s-services{
    position : relative;
    z-index : 1;
}

